

.button-text{
    color:white;
    font-weight: 700;
    font-family:'Museo Sans';

}

.redirect{
    font-family: 'Museo Sans';
    font-weight: 700;
    text-decoration: none;
    color: rgb(0, 174, 239);

}
.button{
    border:none;
}
.welcome{
    margin-right: 1em;
}
.logo{
    transform: rotate(-0.19deg);
    }
    
@media only screen and (min-width: 751px) {
.main{ 
    display: flex;
    flex-wrap:wrap;
    height: 100%;
    margin: 0;
    padding: 0;
}



.input{
    box-sizing: border-box;
    width: 200px;
    height: 48px;
    left: 1011px;
    top: 498px;
    border: 1px solid #D6D6D6;
    margin-bottom: 1em;
  }

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Museo Sans';

}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15em;
}

 .form-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width:55%
  }

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Museo Sans';
    align-items: center;
    
    }
.button{
    width: 245px;
    height: 60px;
    left: 984px;
    top: 599px;
    background: #00AEEF;
    border-radius: 40px;
    margin-top: 1.5em;
    margin-bottom: 2em;
    }
.text{
    width: 424px;
    height: 60px;
    left: 899px;
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0.5em;
        /* or 47px */
     }

.background{
    background: url(background-desk.png);
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
     }

}

@media only screen and (max-width: 750px) {

.background{
    background: url(background-mobile.png);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
    background-size: 100% 100%;
   
     }
    
  .main{
    display: grid;
    grid-template-rows: 40% 100%;
    font-family: 'Museo Sans';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

  }
  .input{
    box-sizing: border-box;
    width: 303px;
    height: 48px;
    left: 1011px;
    top: 498px;
    border: 1px solid #D6D6D6;
    margin-bottom: 2em;
  }

.form-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
  }
  

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Museo Sans';
    align-items: center;

}
.button{
    width: 245px;
    height: 60px;
    left: 984px;
    top: 599px;
    background: #00AEEF;
    border-radius: 40px;
    margin-top: 1.5em;
    margin-bottom: 2em;
}
 .text{
    width: 424px;
    height: 60px;
    left: 899px;
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0.5em;
    /* or 47px */
 }


}
